.App {
  font-family: sans-serif;
  text-align: center;
  margin:0 auto;
  padding: 10px;
}

.redText {
  color: red
}

.pLink {
  cursor: pointer;
}

.largeBold {
  font-size: x-large;
  font-weight: bolder;
}

.itemImage {
  width:100px;
  height:100px;
}

.labelPromoCode {
  color: lightgrey;
  margin-top: 10px
}

.button {
  margin-bottom: 10px;
}