.App {
  font-family: sans-serif;
  text-align: center;
  margin:0 auto;
  padding: 10px;
}

.redText {
  color: red
}

.pLink {
  cursor: pointer;
}

.largeBold {
  font-size: x-large;
  font-weight: bolder;
}

.itemImage {
  width:200px;
  height:200px;
}